<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/styles.css">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
  <title>Trending Youtube Videos </title>
  
</head>

<body>
<section id="title">
    <div class="row">
        <div class="col-lg-6">
            <h3>Trending Youtube Videos</h3>
        </div>
    </div>
<div class="question">
<h1>Let me predict the Category for your Title</h1>

<form action = "http://127.0.0.1:5000/predict" method = "POST">
  <p>Enter title <input type = "text" name = "title" /></p>
  <p><input type = "submit" value = "submit" /></p>

</div>

<br>
{{pred}}<br>
</div>
</form>









</section>
 
    <div class="graphics text-center">
      <h1></h1>
      <div id="plot"></div>
      <select id="selectOption">
      <option value="us">Add Location</option>
      <option value="us">US Trends</option>
      <option value="ca">CA Trends</option>
    </select>
      <div id="myData"></div>
      
    </div>


    
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="/static/app.js"></script>
    <script src="../css/styles.css"></script>
  </body>
  

</html>