<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Trending Youtube Videos Exploration </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  
</head>

<body>
    <div class="container text-center">
      <h1 class="jumbotron">Trending Youtube Videos</h1>
      <div id="plot"></div>
      <select id="selectOption">
      <option value="us">Add Location</option>
      <option value="us">US Trends</option>
      <option value="ca">CA Trends</option>
    </select>
      <div id="myData"></div>
      
    </div>
    

    
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="/static/app.js"></script>
  </body>
  

</html>